{{ define "title" -}}
    {{ .Name }}
{{- end }}

{{ define "content" }}

    {{- with .Notes -}}
        <h2>Notes</h2>
        {{- range . }}
            <p>{{ . }}</p>
        {{ end -}}
    {{ end -}}

{{- end }}
