<!DOCTYPE html>
<html lang='en-us'>

<head>
    <meta charset='utf-8' />
    <meta viewport='width=device-width' />
    <meta viewport='initial-scale=1' />
    <meta viewport='user-scalable=yes' />
    <link href='/favicon.ico' rel='icon' />

    <title>DFT | {{ template "title" . }}</title>
</head>

<body>
    <header>
        <a class='title' href='/'>DFT</a>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/persons">People</a></li>
                <li><a href="/places">Places</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>{{ template "title" . }}</h1>

        {{ template "content" . }}
    </main>

    <footer>
        <div role='copyright'>
            Copyright (c) 2026 Dale H. Emery
        </div>
    </footer>
</body>

</html>
