{{ define "title" }}TITLE{{ end }}
{{ define "content" }}

    {{- with .Properties -}}
        <h2>Properties</h2>
        {{- range . }}
            <p>{{ . }}</p>
        {{ end -}}
    {{ end }}

{{ end }}
