{{ define "title" -}}
    {{ .Title }}
{{- end }}

{{ define "content" }}
    <ul>
        {{- with .Date }}
            <li>Date: {{ . }}</li>
        {{ end -}}

        {{- with .Place }}
            <li>Place: {{ .FullName }}</li>
        {{ end -}}

        {{- with .Type }}
            <li>Type: {{ . }}</li>
        {{ end -}}
    </ul>

    {{- with .Properties -}}
        <h2>Properties</h2>
        {{- range . }}
            <p>{{ . }}</p>
        {{ end -}}
    {{ end }}

    {{- with .Notes -}}
        <h2>Notes</h2>
        {{- range . }}
            <p>{{ . }}</p>
        {{- end }}
    {{ end -}}
{{ end }}
