{{ define "title" -}}
    {{ .Name }}
{{- end }}

{{ define "content" }}
<ul>
    {{- with .Name }}
        <li>Name: {{ . }}</li>
    {{ end -}}

    {{- with .Type }}
        <li>Type: {{ . }}</li>
    {{ end -}}

    {{- with .ParentID }}
        <li>Part of {{ . }}</li>
    {{ end -}}

    {{- with .Latitude }}
        <li>Latitude: {{ . }}</li>
    {{ end -}}

    {{- with .Longitude }}
        <li>Longitude: {{ . }}</li>
    {{ end -}}

    {{- with .Notes -}}
        <h2>Notes</h2>
        {{- range . }}
            <p>{{ . }}</p>
        {{ end -}}
    {{ end -}}
</ul>
{{ end }}
